 {% load static %}
 
 <!-- about section -->

  <section class="about_section">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static '/images/drondari.png' %}" alt="Dr. Enock Ondari">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About <span> Dr Enock Ondari</span>
              </h2>
            </div>
            <p>
            Dr. Enock Ondari is a prominent Obstetrician and Gynaecologist
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->