{% load static %}


<!-- info section -->
<section class="info_section ">
    <div class="container">
        <div class="info_top">
            <div class="info_logo">
                <a href="">
                    <img src="{% static '/images/drondarilogo.png' %}" alt="Dr Ondari Logo">
                </a>
            </div>
            <div class="info_form">
                <form action="">
                    <input type="email" placeholder="Your email">
                    <button>
                        Subscribe
                    </button>
                </form>
            </div>
        </div>
        <div class="info_bottom layout_padding2">
            <div class="row info_main_row">
                <div class="col-md-6 col-lg-3">
                    <h5>
                        Address
                    </h5>
                    <div class="info_contact">
                        <a href="">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                                Location
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                                Call +01 1234567890
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-envelope"></i>
                            <span>
                                demo@gmail.com
                            </span>
                        </a>
                    </div>
            <div class="social_box">
                <ul class="footer-social">
            
                    <li data-tooltip="Facebook" style="--bg:#1877F2;">
                        <a href="https://facebook.com" target="_blank">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
            
                    <li data-tooltip="X" style="--bg:#000;">
                        <a href="https://x.com" target="_blank">
                            <i class="fa-brands fa-x-twitter"></i>
                        </a>
                    </li>
            
                    <li data-tooltip="LinkedIn" style="--bg:#0A66C2;">
                        <a href="https://linkedin.com" target="_blank">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </li>
            
                    <li data-tooltip="Instagram" style="--bg:#E4405F;">
                        <a href="https://instagram.com" target="_blank">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
            
                </ul>
            </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="info_links">
                        <h5>
                            Useful link
                        </h5>
                        <div class="info_links_menu">
                            <a class="active" href="index.html">
                                Home
                            </a>
                            <a href="about.html">
                                About
                            </a>
                            <a href="treatment.html">
                                Treatment
                            </a>
                            <a href="doctor.html">
                                Doctors
                            </a>
                            <a href="testimonial.html">
                                Testimonial
                            </a>
                            <a href="contact.html">
                                Contact us
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="info_post">
                        <h5>
                            LATEST POSTS
                        </h5>
                        <div class="post_box">
                            <div class="img-box">
                                <img src="{% static '/images/post1.jpg' %}" alt="Post 1">
                            </div>
                            <p>
                                Normal
                                distribution
                            </p>
                        </div>
                        <div class="post_box">
                            <div class="img-box">
                                <img src="{% static '/images/post2.jpg' %}" alt="Post 2">
                            </div>
                            <p>
                                Normal
                                distribution
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="info_post">
                        <h5>
                            News
                        </h5>
                        <div class="post_box">
                            <div class="img-box">
                                <img src="{% static '/images/post3.jpg' %}" alt="Post 3">
                            </div>
                            <p>
                                Normal
                                distribution
                            </p>
                        </div>
                        <div class="post_box">
                            <div class="img-box">
                                <img src="{% static '/images/post4.png' %}" alt="Post 4">
                            </div>
                            <p>
                                Normal
                                distribution
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end info_section -->


<!-- footer section -->
<footer class="footer_section">
    <div class="container">
        <p>
            &copy; <span id="displayYear"></span> Designed and Developed with
            <span class="heart">❤️</span> by
            <a href="https://nimcityenterprises.co.ke/" target="_blank">
                Nimcity Enterprises
            </a>
        </p>
    </div>
</footer>